{% extends 'base.html.twig' %}

{% block title %}New Bornes{% endblock %}

{% block body %}
   <div class="mb-auto p-3">
    <h3 class="text-center fw-bold">Ajouter une borne</h3><br/>
</div>

    {{ include('bornes/_form.html.twig') }}

    
{% endblock %}
