<form method="post" action="{{ path('app_affectationcrud_delete', {'id': affectation.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer cette affectation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affectation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
