{% extends 'base.html.twig' %}

{% block title %}Edit Affectation{% endblock %}

{% block body %}
   <div class="mb-auto p-3">
    <h3 class="text-center fw-bold">Affectation des véhicules</h3><br/>
</div>

    {{ include('affectationcrud/_form.html.twig', {'button_label': 'Enregistrer'}) }}

   

    {{ include('affectationcrud/_delete_form.html.twig') }}
{% endblock %}
