<div class="card w-75">
  <div class="card-body">
     <p class="card-title"> Bonjour, </p>
    
    
     <h3> Vous avez réservez un créneau de charge le 
     
     {{ day }}/{{ month }}/{{ year }} à  {{ creneau }}  à la mairie de Drancy.</h3>
     
     <p> Veuillez ne pas oublier votre badge avec vous avant l'heure de votre réservation!  </p>

     <p> Merci!</p>
   
</div>
