<form method="post" action="{{ path('app_vehiculescrud_delete', {'id': vehicule.id}) }}" onsubmit="return confirm('Vous êtes sûr de bien vouloir supprimer ce véhicule?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
